/* BURGER MENU */
nav.menuBurger {
  width: 60%;
  background-color: #6d2d2d;
  min-height: 100vh;
  position: fixed;
  top: 48px;
  left: 0;
  transition: 0.5s;
  z-index: 101; }
  nav.menuBurger li {
    padding: 10px 20px;
    text-align: center;
    background-color: #6d2d2d;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    border-bottom: 1px ridge rgba(255, 255, 255, 0.2);
    border-top: 1px ridge rgba(255, 255, 255, 0.2); }
    nav.menuBurger li:hover {
      background-color: #591919; }
  nav.menuBurger .burgerLink {
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%; }
    nav.menuBurger .burgerLink.activeLink {
      color: greenyellow; }
