.main-header {
  height: 48px;
  width: 100%;
  display: flex;
  background-color: #6d2d2d;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  position: fixed;
  top: 0;
  z-index: 100; }
  .main-header .backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100; }
  .main-header .burger-icon {
    height: 48px;
    width: 48px;
    position: fixed;
    transition: 0.5s;
    z-index: 101; }
    .main-header .burger-icon .burgerClick {
      width: 48px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0; }
      .main-header .burger-icon .burgerClick div {
        width: 62%;
        height: 5px;
        margin: 2px;
        border-radius: 2px;
        background-color: white;
        border: 2px solid #6d2d2d; }

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'Joti One', cursive; }
