.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 500; }

.modal-item-container {
  width: 40vw;
  height: 70vh;
  border-radius: 5px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; }

.modal-item-details {
  width: 100%;
  height: 70%;
  display: flex; }
  .modal-item-details img {
    width: 20%;
    height: 90%;
    background-size: contain;
    padding: 20px;
    background: transparent url("./images/preloader.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.item-details {
  width: 80%;
  height: 100%;
  padding: 20px;
  letter-spacing: 1px; }

.item-details-name {
  font-weight: bold;
  font-size: 1rem;
  color: #E53A40; }

.item-details-tagline {
  font-size: 0.7rem;
  font-weight: normal; }

.item-details-spans {
  width: 100%;
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  justify-content: left;
  flex-wrap: wrap; }
  .item-details-spans p {
    width: 33,33%;
    font-size: 0.7rem;
    margin-right: 10px; }

.item-details-description {
  margin-top: 1rem; }
  .item-details-description h5 {
    font-size: 0.8rem;
    font-weight: bold; }
  .item-details-description p {
    margin-top: 5px;
    font-size: 0.7rem; }

.item-details-brewerTip {
  margin-top: 1rem; }
  .item-details-brewerTip h5 {
    font-size: 0.8rem;
    font-weight: bold; }
  .item-details-brewerTip p {
    font-size: 0.7rem;
    margin-top: 5px; }

.modal-item-alsoLike-title {
  height: 3%;
  font-size: 0.7em;
  font-weight: bold;
  padding-left: 10px; }

.modal-item-alsoLike {
  width: 100%;
  height: 27%;
  display: flex; }

.modal-item-alsoLike-container {
  height: 100%;
  width: 33.3333%; }
  .modal-item-alsoLike-container a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; }

.modal-item-alsoLike-container-item {
  width: 70%;
  height: 85%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.1s; }
  .modal-item-alsoLike-container-item:hover {
    -webkit-box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); }
  .modal-item-alsoLike-container-item img {
    width: 18%;
    height: 70%;
    background: transparent url("./images/200w.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .modal-item-alsoLike-container-item p {
    font-weight: bold;
    font-size: 0.6rem;
    margin-top: 5px;
    text-align: center;
    overflow: hidden; }

/* ---------------------- */
.aboutMe {
  margin-top: 48px; }
